:root {
    --font1: 'Fraunces', serif;
    --width: 1280px;
    --mainclr: #40B2EE;
}

body {
    width: var(--width);
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

header {
    background-color: var(--mainclr);
    position: fixed;
    width: var(--width);
}

header > nav {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto 30px auto 0;
    padding-top: 3px;
    height: 10vh;
}

.menu-nav {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-nav > li {
    margin-right: 35px;
    list-style: none;
}

.menu-nav > li > a { 
    text-decoration: none;
    color: #fff;
    font-family: var(--font1);
}

#content {
    width: var(--width);
    height: 100vh;
    padding-bottom: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FED700;
}

.large-frame {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    width: 100%;
}

.gallery {
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    margin-top: 13vh;
}

.large-img {
    width: 70%;
    display: block;
}

.img-desc {
    font-family: var(--font1);
    padding-top: 5vh;
    color: #2D7365;
}

.small-img {
    width: 16.5%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: var(--width);
    background-color: var(--mainclr);
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 30px 0 0;
    padding-top: 3px;
    height: 12vh;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9em;
    font-family: 'Barlow', sans-serif;
    padding: 2vh;
    color: #fff;
}


@media (max-width: 1279px) {

    footer {
        position: static;
        bottom: 0;
    }
    
}